netcdf config_overrride {
    variables:
    byte pism_overrides;
    {% for key, value in settings.override_params.items() -%}
        {% if value is string -%}
            pism_overrides:{{key}} = "{{value}}";
        {%- else -%}
            pism_overrides:{{key}} = {{value}};
        {%- endif %}
    {% endfor -%}
}

