#! /bin/sh

# execution of PISM for a single coupling iteration 
#
# this script is part of the coupled PISM-MOM setup and gets called by the 
# main coupling routine 'run_coupled.sh' in each coupling iteration
#
# all PISM options, parameters and flags are specified here except the 
# input/restart file $PISM_RESTART_FILE taken from in run_coupled.sh


echo PISM_RESTART_FILE: $PISM_RESTART_FILE
echo __TIMESTEP:        $__TIMESTEP  
echo PISM_TIME_BEGIN:   $PISM_TIME_BEGIN
echo PISM_TIME_END:     $PISM_TIME_END 

{{settings.pism_mpi_do}} {{settings.slurm_tasks}} {{settings.pism_exp_bin}} \
-i $PISM_RESTART_FILE \
-bootstrap {{settings.pism_grid}} \
-config_override initdata/config_override.nc \
-y $__TIMESTEP \
{{settings.pism_general_opt}} \
{{settings.pism_atm_opt_prerun}} \
{{settings.pism_add_opt}} \
-ocean pico \
-ocean_pico_file initdata/{{settings.pism_ocn_file}} \
-extra_file prerun/prerun.pism_extra.nc  \
-extra_times $PISM_TIME_BEGIN:$__TIMESTEP:$PISM_TIME_END \
-extra_vars basal_mass_flux_floating,basins,amount_fluxes,pico_contshelf_mask,pico_shelf_mask,pico_box_mask,thk \
-o prerun/prerun.pism_out.nc \
    > prerun/prerun.pism.out 2>&1

#-save_file prerun/prerun.pism_snap.nc \
#-save_times $PISM_TIME_BEGIN:$__TIMESTEP:$PISM_TIME_END \

RESULT=$?

exit $RESULT




