#! /bin/sh

# execution of PISM for a single coupling iteration 
#
# this script is part of the coupled PISM-MOM setup and gets called by the 
# main coupling routine 'run_coupled.sh' in each coupling iteration
#
# all PISM options, parameters and flags are specified here except the 
# input/restart file $PISM_RESTART_FILE taken from in run_coupled.sh


{{settings.pism_mpi_do}} {{settings.slurm_tasks}} {{settings.pism_exp_bin}} \
-i $PISM_RESTART_FILE \
-config_override initdata/config_override.nc \
-y {{settings.coupling_timestep}} \
{{settings.pism_general_opt}} \
{{settings.pism_atm_opt}} \
{% if ( settings.do_poem_atmos_anomaly_forcing_to_ice==True ) -%}
-atmosphere_anomaly_file ../x_ATM-to-PISM/$POEM_TIME_END.atmos-anomaly.PISM_input.nc \
{% else -%}
{{settings.pism_atm_anomaly_external_opt}} \
{% endif -%}
{{settings.pism_add_opt}} \
-ocean pico \
-ocean_pico_file ../x_MOM-to-PISM/$POEM_TIME_END.tracer.PISM_input.nc  \
{% if ( settings.do_ocean_sealevel_anomaly==True ) -%}
-sea_level constant,delta_sl_2d \
-ocean.delta_sl_2d.file ../x_MOM-to-PISM/$POEM_TIME_END.sealevel.PISM_input.nc \
{% endif -%}
-extra_file results/$PISM_TIME_END_PAD.pism_extra.nc \
-extra_times $PISM_TIME_BEGIN:{{settings.pism_diag_extra_timestep}}:$PISM_TIME_END \
-extra_vars {{settings.pism_extra_vars}} \
-ts_file results/$PISM_TIME_END_PAD.pism_ts.nc \
-ts_times $PISM_TIME_BEGIN:{{settings.pism_diag_ts_timestep}}:$PISM_TIME_END \
-ts_vars {{settings.pism_ts_vars}} \
-o results/$PISM_TIME_END_PAD.pism_out.nc \
-o_size big \
    > results/$PISM_TIME_END_PAD.pism.out 2>&1

#-save_file results/$PISM_TIME_END_PAD.pism_snap.nc \
#-save_times $PISM_TIME_BEGIN:{{settings.pism_diag_snap_timestep}}:$PISM_TIME_END \

RESULT=$?

exit $RESULT

